.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  margin: 0 auto 60px auto;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background-color: rgb(86, 227, 209);
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 700;
}
.btn:is(:hover, :focus) {
  background-color: rgb(107, 128, 0);
  color: white;
}
